mixin product-cart(img)
    .nav__cart__info__product
        img(src=img alt="")
        .nav__cart__info__product__content
            p   Áo sơ mi Nam
            span.price 120.000
                small đ
        i.fas.fa-times
